
<div ng-show="getCart().cartItems.length > 0">
    <h4>Корзина</h4>
    <div class="tab-pane fade show active" id="basket-list">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Товар</th>
                <th scope="col">Кол.</th>
                <th scope="col">Итого</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pc in getCart().cartItems">
                <th>{{pc.product.title}}</th>
                <td>
                    <button style="padding: 0;border: 0;background: none;margin-right: 5px"
                            ng-click="addProductInCart(pc.product.id)">&#10133
                    </button>
                    {{pc.count}}
                    <button style="padding: 0;border: 0;background: none;margin-left: 5px"
                            ng-click="decCountProductInCart(pc.product.id)">&#10134
                    </button>
                </td>
                <td>{{pc.itemPrice}}</td>
                <td>
                    <button type="button" class="btn-close" aria-label="Close"
                            style="width: 5px;height: 5px"
                            ng-click="deleteProductByCart(pc.product.id)"></button>
                </td>
            </tr>
            </tbody>
        </table>
        <h5 style="text-align: right">Общая стомость: {{getCart().cartPrice}} руб.</h5>
        <div class="filter-buttons">
            <button type="button"
                    class="btn btn-success"
                    data-bs-toggle="modal" data-bs-target="#orderForm">
                Оформить заказ
            </button>
            <button class="btn btn-danger" ng-click="cleanCart()">Очистить корзину</button>
        </div>
    </div>
</div>
<span ng-show="getCart().cartItems.length==0">В корзине пусто</span>