<!doctype html>

<html ng-app="app">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="modal fade" id="orderForm" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabelOrder"
     aria-hidden="true">
    <div class="modal-dialog" ng-controller="cartController">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelOrder">Оформление
                    заказа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <h3 ng-controller="indexController">Получатель: {{getUser()}}</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Товар</th>
                            <th scope="col">Итого</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pc in getCart().cartItems">
                            <th>{{pc.product.title}}</th>
                            <td style="font-size: smaller">{{pc.count + ' шт. x' +
                                pc.cost + ' руб. =' + pc.itemPrice +'
                                руб.'}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h3>Общая стомость: {{getCart().cartPrice}} руб.</h3>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Адрес
                            доставки</label>
                        <input ng-model="order.address" type="text"
                               class="form-control"
                               id="inputAddress"
                               placeholder="125009, Москва, ул. Тверская, д.23, стр.2, кв.7">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Отмена
                </button>
                <button type="button" class="btn btn-primary"
                        data-bs-dismiss="modal"
                        ng-controller="ordersController"
                        ng-click="makeOrder()">Оформить заказ
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registerForm" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog" ng-controller="authController">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Регистрация нового
                    пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="loginReg" class="form-label">Имя
                        пользователя: </label>
                    <input ng-model="user.username" type="text" class="form-control"
                           id="loginReg"
                           placeholder="Введите логин">
                </div>
                <div class="md-3">
                    <label for="passReg" class="form-label">Пароль: </label>
                    <input ng-model="user.password" type="password" class="form-control"
                           placeholder="Введите пароль" id="passReg">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        ng-click="doRegistration()">Зарегистрироваться
                </button>
            </div>
        </div>
    </div>
</div>
<header class="sticky-top">
    <div class="header-pane" ng-controller="indexController">
        <div class="header-links container">
            <ul class="header-links-list">
                <li>
                    <a href="#!/">
                        <div class="profile">
                            <div class="auth-icon">
                                <img src="img/home.svg" alt="На главную">
                            </div>
                            <div class="auth-text">
                                <p>На главную</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="dropdown">
                    <div class="profile">
                        <div class="auth-icon">
                            <img src="img/auth.png" alt="Авторизоваться">
                        </div>
                        <div ng-show="!userLogged()" class="auth-btn">
                            <a class="dropdown-toggle" id="navbarAuth" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <div class="auth-text">
                                    <p>Авторизация</p>
                                </div>
                            </a>
                            <div ng-controller="authController" ng-show="!userLogged()" class="dropdown-menu"
                                 aria-labelledby="navbarAuth">
                                <form class="row" ng-submit="tryToAuth()" ng-show="!authorized">
                                    <input ng-model="user.username" type="text" class="form-control"
                                           placeholder="Введите логин">
                                    <input ng-model="user.password" type="password" class="form-control"
                                           placeholder="Введите пароль">
                                    <button type="submit" class="btn btn-primary">Авторизоваться</button>
                                    <p class="reg-link">Нет учетной записи?
                                        <a style="color: #759de3" type="button" data-bs-toggle="modal"
                                           data-bs-target="#registerForm">Зарегистрироваться</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                        <div ng-show="userLogged()" class="cart-btn">
                            <a class="dropdown-toggle" id="navbarProfile" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <div class="auth-text">
                                    <p>{{getUser()}}</p>
                                </div>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarProfile">
                                <li><img src="img/cart-link.png"/><a href="#!/cart">Корзина</a></li>
                                <li><img src="img/orders-hist.png"/><a href="#!/orders">Мои заказы</a></li>
                                <hr>
                                <li ng-controller="authController">
                                    <a ng-click="logout()" href="#"><img src="img/logout.png">Выйти</a>
                                </li>
                            </ul>
                        </div>
                        <a class="dropdown-toggle" id="navbarCart" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <div class="cart-icon">
                                <img src="img/cart-main.png" alt="Корзина">
                                <div ng-controller="cartController" ng-show="getCartCounter() > 0" class="cartCounter">
                                    <p>{{getCartCounter()}}</p>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu" ng-controller="cartController" aria-labelledby="navbarCart">
                            <div class="small-cart" ng-show="getCart().cartItems.length > 0">
                                <h4>Корзина</h4>
                                <div class="tab-pane fade show active" id="basket-list">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Товар</th>
                                            <th scope="col">Кол.</th>
                                            <th scope="col">Итого</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="pc in getCart().cartItems">
                                            <th>{{pc.product.title}}</th>
                                            <td>
                                                <button style="padding: 0;border: 0;background: none;margin-right: 5px"
                                                        ng-click="addProductInCart(pc.product.id)">&#10133
                                                </button>
                                                {{pc.count}}
                                                <button style="padding: 0;border: 0;background: none;margin-left: 5px"
                                                        ng-click="decCountProductInCart(pc.product.id)">&#10134
                                                </button>
                                            </td>
                                            <td>{{pc.itemPrice}}</td>
                                            <td>
                                                <button type="button" class="btn-close" aria-label="Close"
                                                        style="width: 5px;height: 5px"
                                                        ng-click="deleteProductByCart(pc.product.id)">
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <h5 style="text-align: right">Общая стомость: {{getCart().cartPrice}} руб.</h5>
                                    <div class="filter-buttons">
                                        <button type="button"
                                                class="btn btn-success"
                                                data-bs-toggle="modal" data-bs-target="#orderForm">
                                            Оформить заказ
                                        </button>
                                        <button class="btn btn-danger" ng-click="cleanCart()">Очистить корзину</button>
                                    </div>
                                </div>
                            </div>
                            <span ng-show="getCart().cartItems.length==0">В корзине пусто</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-text">
            <h1 class="header-title">Интернет-магазин "Нужные вещи"</h1>
        </div>
    </div>
    <div class="links-pane">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" aria-current="page" href="#!/">Главная</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#!/products">Каталог</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#!/orders">Мои заказы</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#">Контакты</a>
            </li>
        </ul>
    </div>
</header>
<div class="container content">
    <ng-view></ng-view>
</div>

<script src="index.js"></script>
<script src="auth/auth.js"></script>
<script src="cart/cart.js"></script>
<script src="home/home.js"></script>
<script src="products/products.js"></script>
<script src="orders/orders.js"></script>
<script src="contacts/contacts.js"></script>

</body>